.resetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 180px;
}
.link {
  color: #4C4CFF;
}
.link:hover {
  color: #F2F2F3;
}