.page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.link {
  color: #4C4CFF;
}
.link:hover {
  color: #F2F2F3;
}