.ordersItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 40px;
  margin-right: 8px;
  text-decoration: none;
  text-align: left;
  color: white;
  background-color: #1C1C21;
  padding: 24px;
  transition: all 0.25s;
}
.ordersItem:hover {
  opacity: 0.7;
}
.headingLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.ingredientsList {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.ingredientsList__item {
  width: 64px;
  height: 64px;
  display: flex;
  background: linear-gradient(#1C1C21, #1C1C21) padding-box,
              linear-gradient(45deg, #801AB2, #4C4CFF) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  align-items: center;
}
.ingredientsList__item:not(:first-child) {
  margin-left: -20px;
}
.ingredientsList__item:last-child {
  position: relative;
}
.remainIngredientsCount {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.ingredientImage {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.totalCost {
  display: flex;
  align-items: center;
  gap: 8px;
}
