.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  visibility: hidden;
  transition: all ease 0.3s;
  scale: 0;
  opacity: 0;
  text-align: center;
  transform: translate(-100%, -50%);
  transition: all ease 0.3s;
  cursor: default;
  background-color: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
              0px 16px 24px rgba(0, 0, 0, 0.04),
              0px 4px 8px rgba(0, 0, 0, 0.04),
              0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  z-index: 10;
}
.modalContent.active {
  transform: translate(-50%, -50%);
  visibility: visible;
  scale: 1;
  opacity: 1;
}
.closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
