.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}
.navigation {
  width: 320px;
  text-align: left;
}
.navigation__list {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.navigationListItem {
  height: 64px;
}