.header {
  color: #8585AD;
  background-color: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 
              0px 16px 24px rgba(0, 0, 0, 0.04), 
              0px 4px 8px rgba(0, 0, 0, 0.04), 
              0px 0px 1px rgba(0, 0, 0, 0.04);
}
.navbar {
  max-width: 1280px;
  margin: 0 auto;
}
.navbarList {
  display: flex;
  gap: 8px;
  align-items: center;
}
.navbarList__link {
  display: flex;
  align-items: center;
  border-radius: 40px;
}
.navbarList__link:hover {
  color: #F2F2F3;
}
.navbarList__link:hover svg {
  fill: #F2F2F3;
}
.logo {
  justify-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo__link {
  display: block; 
  height: 50px;
}
.profile {
  margin-left: auto;
  justify-self: flex-end;
}